<div id="timesTable">
    <table id="allTimeTable">
        <tr>
            <th></th>
            <th>current</th>
            <th>best</th>
        </tr>
        <tr id="lastTime">
            <td class="type">last time</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="mo3">
            <td class="type">mo3</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao5">
            <td class="type">ao5</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao12" class="noDisplay">
            <td class="type">ao12</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao25" class="noDisplay">
            <td class="type">ao25</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao50" class="noDisplay">
            <td class="type">ao50</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao100" class="noDisplay">
            <td class="type">ao100</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao200" class="noDisplay">
            <td class="type">ao200</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao500" class="noDisplay">
            <td class="type">ao500</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao1000" class="noDisplay">
            <td class="type">ao1000</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao2000" class="noDisplay">
            <td class="type">ao2000</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao10000" class="noDisplay">
            <td class="type">ao10000</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
    </table>
    <table id="currentTimeTable">
        <tr>
            <th>round</th>
            <th>time</th>
            <th>scramble</th>
        </tr>
        <!-- <tr>
            <td>2</td>
            <td>11.13</td>
            <td>
                <button class="viewScrambleButton" scramble="R2 D' R' D2 U2 D2 L2 B' F' D' L B' U' R' L2 D' L' R2 B' D"
                    data-bs-toggle="modal" data-bs-target="#showScramblePopup">view</button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>12.64</td>
            <td>
                <button class="viewScrambleButton" scramble="B R' L2 D F2 R' F' B' F R U R F2 D2 L R2 U D' L2 R"
                    data-bs-toggle="modal" data-bs-target="#showScramblePopup">view</button>
            </td>
        </tr> -->
    </table>
</div>