<div id="timesTable">
    <table id="allTimeTable">
        <tr>
            <th></th>
            <th>current</th>
            <th>best</th>
        </tr>
        <tr id="lastTime">
            <td class="type">last time</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="mo3" class="noDisplay">
            <td class="type">mo3</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao5" class="noDisplay">
            <td class="type">ao5</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao12" class="noDisplay">
            <td class="type">ao12</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao25" class="noDisplay">
            <td class="type">ao25</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao50" class="noDisplay">
            <td class="type">ao50</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao100" class="noDisplay">
            <td class="type">ao100</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao200" class="noDisplay">
            <td class="type">ao200</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao500" class="noDisplay">
            <td class="type">ao500</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao1000" class="noDisplay">
            <td class="type">ao1000</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao2000" class="noDisplay">
            <td class="type">ao2000</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
        <tr id="ao10000" class="noDisplay">
            <td class="type">ao10000</td>
            <td class="current">0.00</td>
            <td class="best">0.00</td>
        </tr>
    </table>
    <table id="currentTimeTable">
        <tr>
            <th>round</th>
            <th>time</th>
            <th>scramble</th>
        </tr>
        
    </table>
    <p id="loginWarning">Must be logged in</p>
</div>