#timesTable {
    height: 100%;
    width: 300px;
    background-color: #D9D9D9;
    border: 1px solid black;
    overflow: auto;
}

.noDisplay {
    display: none;
}

#timesTable table {
    border: 1px dashed #959595;
    width: 90%;
    margin: 10px;
    text-align: center;
}

.type {
    font-weight: bold;
    text-align: right;
    width: 115px;
}