#timesTable {
    height: 100%;
    width: 300px;
    background-color: #D9D9D9;
    border: 1px solid black;
}

.noDisplay {
    display: none;
}

#timesTable table {
    border: 1px dashed #959595;
    width: 90%;
    margin: 10px;
    text-align: center;
}

.type {
    font-weight: bold;
    text-align: right;
    width: 115px;
}

.viewScrambleButton {
    font-size: 10px;
    color: white;
    background-color: #000074;
    border-radius: 5px;
    height: 20px;
    padding-left: 6px;
    padding-right: 6px;
    border: none;
}
