<app-scramble-local></app-scramble-local>

<diV id="mainDiv">
    <div id="controlsInfo">
        <button type="button" id="closeControlsInfo">
            <span aria-hidden="true">&times;</span>
          </button>
        <h5>Controls</h5>
        <p>Space or left click for 0.5 seconds to start the timer</p>
        <p>Press any key or left click to stop the timer</p>
      </div>
    <div id="timerDiv">
        <h3 id="time">0.00</h3>
    </div>
    <app-visual-scramble></app-visual-scramble>
</diV>