#mainDiv {
    background-color: #FEFFCC;
    height: 972px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#timerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#time {
    font-size: 6rem;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
    font-family: 'Digital', 'Alkatra', monospace;
}

#time:hover {
    cursor: default;
}

#controlsInfo {
    position: absolute;
    top: 20px;
    left: 320px;
    padding: 10px;
    background-color: #d9d9d956;
    font-family: 'Alkatra', sans-serif;
    border: 1px solid #959595;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#controlsInfo h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

#closeControlsInfo {
    border: 0.5px solid #959595;
    border-radius: 6px;
    background-color: #efefefaf;
    position: absolute;
    right: 5px;
    top: 5px;
}

app-visual-scramble {
    position: absolute;
    top: 0;
    right: 0;
}

app-times-table {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#showScramblePopup h1 {
    font-family: 'Alkatra', sans-serif;
}

#showScrambleTable {
    border-radius: 8px;
}

#showScrambleTable, tr, th, td {
    border: 1px solid #959595;
    text-align: center;
}

.scrambleInTable {
    text-align: left;
}

.modal-body {
    display: flex;
    justify-content: space-around;
}