#mainDiv {
    background-color: #FEFFCC;
    height: 972px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#timerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#time {
    font-size: 6rem;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
    font-family: 'Alkatra', monospace;
}

#time:hover {
    cursor: default;
}

#controlsInfo {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #d9d9d956;
    font-family: 'Alkatra', sans-serif;
    border: 1px solid #959595;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#controlsInfo h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

#closeControlsInfo {
    border: 0.5px solid #959595;
    border-radius: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
}

app-visual-scramble {
    position: absolute;
    top: 0;
    right: 0;
}