button {
    border-radius: 15px;
    background-color: #000074;
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 50px;
    width: 300px;
}

button:disabled {
    cursor: not-allowed;
}