<div id="controlPanelDiv">
    <div id="containerDiv" class="totallyCentered">
        <h1 id="adminTitle">Adminitrators Control Panel</h1>
        <div id="adminOptions" class="totallyCentered d-flex align-items-center justify-content-center">
            <button onclick="window.location.href='control-panel/administrate-users'">Administrate <b>USERS</b></button>
            <button onclick="window.location.href='control-panel/administrate-cubes'">Administrate <b>CUBES</b></button>
        </div>
    </div>
</div>