<div id="registrationDiv" class="container-flex">
    <div id="formContainer" class="container-flex">
        <h1 id="registerTitle">Register</h1>
        <div class="centeredContent">
            <form id="registerForm" (ngSubmit)="registerUser()" #registerForm="ngForm">
                <!-- {{ user | json }} -->
                <div class="form-group">
                    <label for="username">Username *</label>
                    <input type="text" class="form-control showValidation" id="username" required [(ngModel)]="user.username"
                        name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="password">Password *</label>
                    <input type="password" class="form-control showValidation" id="password" required [(ngModel)]="user.password"
                        name="password" placeholder="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Repeat Password *</label>
                    <input type="password" class="form-control showValidation" id="confirmPassword" required [(ngModel)]="user.confirmPassword"
                        name="confirmPassword" placeholder="confirm password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                    <br>
                    <div *ngIf="!validPassword()" class="alert alert-danger">
                        8 characters length, 1 uppercase, 1 lowercase and 1 special character
                    </div>
                    <div *ngIf="validPassword() && !matchPasswords()" class="alert alert-danger">
                        Passwords don't match
                    </div>
                </div>
                <diV class="centeredContent">
                    <app-button buttonType="submit" buttonText="Register" [isDisabled]="!registerForm.form.valid"></app-button>
                </diV>
            </form>
        </div>
        <div id="loginLink">
            Already have an account? <a href="login">Login here</a>
        </div>
    </div>
</div>