#scrambleDiv {
    height: 100px;
    background-color: #000074;
    color: white;
    font-size: 24px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: end;
}