#editDiv {
    background-image: url(../../../assets/img/form-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 811px;
    position: relative;
}

#formContainer {
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 900px;
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

#editForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-group > label {
    font-size: 18px;
    padding-left: 5px;
}

.form-group {
    margin-bottom: 44px;
}

#editTitle {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Alkatra', sans-serif;
}

.centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#deleteUserButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: none;
    border: none;
}

#deleteUserButton:hover {
    cursor: pointer;
}

#deleteUserButton:disabled {
    cursor: not-allowed;
}

#deleteUserButton img {
    width: auto;
    height: 60px;
}
