<div id="editDiv" class="container-flex">
    <div id="formContainer" class="container-flex">
        <h1 id="editTitle">Update user</h1>
        <div class="centeredContent">
            <form id="editForm" (ngSubmit)="editUser()" #editForm="ngForm">
                <!-- {{ user | json }} -->
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control showValidation" id="username" [(ngModel)]="user.username"
                        name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="password">Old password *</label>
                    <input type="password" class="form-control showValidation" id="password" required [(ngModel)]="user.password"
                        name="password" placeholder="old password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">New password</label>
                    <input type="password" class="form-control showValidation" id="confirmPassword" [(ngModel)]="user.confirmPassword"
                        name="confirmPassword" placeholder="new password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                    <br>
                </div>
                <diV class="centeredContent">
                    <app-button buttonType="submit" buttonText="Update" [isDisabled]="!editForm.form.valid"></app-button>
                </diV>
            </form>
        </div>
    </div>
</div>